<aside class="logo">
  {% if page.url == '/index.liquid' or page.url == '/' %}
    {% assign link = '/about' %}
    {% assign prompt = 'About the Author' %}
  {% else %}
    {% assign link = '/' %}
    {% assign prompt = 'Back to Home' %}
  {% endif %}

  <a href="{{ link | prepend: site.url }}">
    <img class="gravatar" src="https://www.gravatar.com/avatar/{{ site.author_gravatar }}.png?s=80">
  </a>
  <span class="logo-prompt">{{ prompt }}</span>

</aside>