<!DOCTYPE html>
<html lang="en">

<head>
	{% include head.liquid %}
</head>

<body class="latex-dark">
	{% include header.liquid %}

	<main>
		{{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
	</main>

	{% include footer.liquid %}
</body>

</html>